button{
    color: white;
    height: 3rem;
    width: 8rem;
    margin: 3rem;
    padding: 5rem;

    border: none;
    font-size: 1.15rem;
}
.subscribe-btn{
    background-color: red;
}
.tweet-btn{
    background-color: black;
}
.ilovecoding-btn{
    background-color: lime;
    color: darkgreen;
    width: 12rem;
}

button:hover{
    height: 3.5rem;
    opacity: 0.75;
}

button:active{
    height: 2.5rem;
    opacity: 1;
    background-color: chocolate;
}
